@model AddUserViewModel

@{
    ViewBag.Title = "Add User";
}

<div class="container">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Account</h1>
    </div>

    <hr />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div style="padding-top:20px; text-align:center">
            <button type="submit" class="btn btn-primary" style="width:100px">Sign Up</button>
            <a asp-action="ListUsers" class="btn btn-secondary" style="width:100px">Cancel</a>
        </div>
    </form>
</div>
