@model CreateProjectViewModel

@{
    ViewBag.Title = "Create Project";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Project</h1>
    </div>

    <hr />


    <!-- Begin Form-->
    <form method="post">

        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" style="height:200px;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div style="padding-top:20px; text-align:center">
                    <button type="submit" class="btn btn-primary" style="width:100px">Create</button>
                    <a asp-controller="administration" asp-action="projectlist" class="btn btn-secondary" style="width:100px">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>
