@model ReopenViewModel

@{
    ViewBag.Title = "Reopen Issue";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reopen Issue</h1>
    </div>

    <hr />

    <!-- Begin Form-->
    <form asp-controller="administration" asp-action="openbug" method="post">

        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h6 font-weight-bold">Report Id</label>
                    <input asp-for="@Model.Id" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <label class="h6 font-weight-bold" asp-for="Note"></label>
                    <textarea asp-for="Note" class="form-control" style="height:200px;"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>

                <div style="padding-top:20px; text-align:center">
                    <button type="submit" class="btn btn-primary" style="width:auto">Open</button>
                    <a asp-controller="report" asp-action="issuedetails" asp-route-id="@Model.Id" class="btn btn-secondary" style="width:auto">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>