@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Current Roles</h1>
    </div>

    @if (Model.Any())
    {

        foreach (var role in Model)
        {
            <div class="card shadow mb-3">

                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@role.Name</h6>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="administration" asp-action="editrole"
                       asp-route-id="@role.Id" class="btn btn-primary">
                        Edit
                    </a>

                    @if (!(role.Name.Equals("Admin") || role.Name.Equals("Operations")))
                    {
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
                    }

                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles created yet
            </div>
            <div class="card-body">
            </div>
        </div>
    }
</div>
