
@{
    ViewBag.Title = "Home";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">

        <!-- App Description -->
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h1>Bug Control makes collaborating with teammates easy, fast, and professional.</h1>
                    <p>
                        Get started in minutes with this easy to use application that allows users to collaborate
                        on projects to ensure you never miss a bug again. Once you try it, you will wonder how you ever worked without it.
                    </p>
                </div>

                <div class="col-sm-1 col-md-1"></div>

                <!-- Current Version Info -->
                <div class="col-sm-5 col-md-5">

                    <div class="card shadow mb-4 text-center">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">BugControl 1.0</h6>
                        </div>
                        <div class="card-body">
                            <p>For more details on new features and bug fixes for this version, check out the <a target="_blank" rel="nofollow" href="#">projectbuglog</a></p>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-gray-100" style="width:100px;">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- Key Features -->
    <section class="text-center my-5">
        <h2 class="font-weight-bold my-5">Why is it so great?</h2>

        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-envelope fa-3x"></i>
                <h5 class="font-weight-bold my-4">Email Notification</h5>
                <p class="mb-md-0 mb-5">Keep your team updated with notifications on issues and resolutions in your project.</p>
            </div>

            <div class="col-md-4">
                <i class="fas fa-users fa-3x"></i>
                <h5 class="font-weight-bold my-4">Access Control</h5>
                <p class="mb-md-0 mb-5">Role based access insures your in control of your project.</p>
            </div>

            <div class="col-md-4">
                <i class="fas fa-search fa-3x"></i>
                <h5 class="font-weight-bold my-4">Search</h5>
                <p class="mb-md-0 mb-5">Easily search through your project for specific bugs or access our database of bug resolutions submitted by users from around the world.</p>
            </div>
        </div>
    </section>

    <hr />

    <!-- What People Say -->
    <section class="text-center my-5">
        <h2 class="font-weight-bold my-5">What people are saying...</h2>

        <blockquote>
            <div class="row">
                <div class="col-sm-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                    <small>Someone famous</small>
                </div>
            </div>
        </blockquote>

        <blockquote>
            <div class="row">
                <div class="col-sm-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                    <small>Someone famous</small>
                </div>
            </div>
        </blockquote>
    </section>

    <!-- Try Out -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h2 class="font-weight-bold">Try Bug Control!</h2>
                    <p>Start using Bug Control and see for yourself why it will forever change the way you keep track of issues within your organization.
                    You can either try out a demo to see if Bug Tracker is right for you or you can sign up and experience the full power of Bug Control.
                    What are you waiting for?</p>
                </div>

                <div class="col-sm-2 col-md-2"></div>

                <div class="col-sm-2 col-md-2">
                    <div class="btn-toolbar">
                        <a class="d-none d-sm-inline-block btn btn-primary shadow-sm text-gray-100 mr-2 mb-2" style="width:100px;">Demo</a>
                        <a class="d-none d-sm-inline-block btn btn-primary shadow-sm text-gray-100 mr-2 mb-2" style="width:100px;">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Bug Control 2020. All Rights Reserved.</p>
            </div>

            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->