<div class="container" style="padding:20px; width:80%; margin:auto">
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h6 class="text-danger">You do not have persmission to view this resource</h6>
        <img src="~/images/noaccess.png" style="height:300px; width:300px; padding:30px" />
    </div>
</div>