
@{
    ViewBag.Title = "404 Error";
}

<div class="container-fluid">
    <div style="padding-top:20px">
        <div class="card shadow" style="padding:20px;">
            <h1 style="font-weight:700">Sorry, that page does not exist</h1>
            <br />
            <h5>Seems this account no longer exists, try searching for another.</h5>
        </div>
    </div>
</div>
