@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="padding-top:20px">
        <h1 class="h3 mb-0 text-gray-800">Enter email to receive instructions on resetting password</h1>
    </div>

    <hr />

    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 ">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="h5" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div style="padding-top:20px; text-align:center">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
